@page "/escape-room-closing"

<PageTitle>Escape Room: Game Over</PageTitle>

<div class="closing-container">
    <div class="message">
        <h1>Congratulations, You Escaped!</h1>

        <h2>What’s Next?</h2>

        <p>We hope you had fun! You can play again or return to the main menu.</p>
        <div class="mt-4">
            <NavLink class="btn btn-primary btn-lg" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2"></i> restart
            </NavLink>
        </div>
    </div>
    
</div>

