@page "/"
@using System
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to My Escape Room</h1>
    <p class="lead text-secondary">Can you solve the mysteries and find your way out?</p>

    <div class="mt-4">
        <NavLink class="btn btn-primary btn-lg" href="maze" Match="NavLinkMatch.All">
            <i class="bi bi-house-door-fill me-2"></i> Enter the room
        </NavLink>
    </div>
</div>

<style>
    h1 {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
    }

    p {
        font-style: italic;
    }

    .btn-lg {
        padding: 15px 30px;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s;
    }
    .btn-lg:hover {
         transform: scale(1.05);
     }

</style>